{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <header class="header">

            <h1 class="h1">MON TITRE</h1>

        </header>
        <div class="content">



        </div>

        <footer>
            BY OZ LE MAGICIEN & OH LA FEUILLE
        </footer>


    </div>
{% endblock %}
